# ==========================================
# CONFIGURATION GLOBALE DE L'USINE (PROJET VISION)
# ==========================================

# --- 1. BROKER MQTT ---
MQTT_BROKER_HOST=localhost
MQTT_PORT=18830
MQTT_BROKER_PORT=18830

TOPIC_ORCHESTRATEUR_ENTREE=vision/images/new
TOPIC_ENTREE_COLORIMETRIQUE=vision/classique/colorimetrique
TOPIC_ENTREE_GRADIENT=vision/classique/gradient
TOPIC_ENTREE_GEOMETRIQUE=vision/classique/geometrique
TOPIC_ENTREE_FUSION=vision/ia/pretraitement

TOPIC_SORTIE_COLORIMETRIQUE=vision/resultats/colorimetrique
TOPIC_SORTIE_GRADIENT=vision/resultats/gradient
TOPIC_SORTIE_GEOMETRIQUE=vision/resultats/geometrique
TOPIC_SORTIE_IA=vision/resultats/ia
TOPIC_SORTIE_FUSION=vision/ia/ready
TOPIC_SORTIE_DECISION=vision/resultats/final

# --- 2. STOCKAGE MINIO ---
MINIO_ENDPOINT=localhost:9000
MINIO_USER=admin_vision
MINIO_PASSWORD=password123
MINIO_BUCKET=images-production

# --- 3. AUTOMATE SIEMENS (Pour l'Acquisition) ---
PLC_URL=opc.tcp://192.168.0.1:4840
PLC_NODE_ID=ns=3;s="DB_Vision"."ID_Bouteille"
PLC_NODE_TYPE=ns=3;s="DB_Vision"."Type_Bouteille"
PLC_NODE_ETAGE=ns=3;s="DB_Vision"."Etage"
PLC_NODE_ANGLE=ns=3;s="DB_Vision"."Index_Angle"

# --- 4. CHEMINS ET PARAMÈTRES ---
TIMEOUT_BUFFER_SEC=10
QC_DATA_DIR=.
RECEPTION_FTP_PATH=./Reception_ftp_file

# --- 5. CONFIGURATION ORCHESTRATEUR ---
TOPIC_ORCHESTRATEUR_STATUS=vision/filtre/status
CHEMIN_RECETTES_GLOBALES=./recettes/switch/

# --- 6. SERVICE IA ---
MODEL_PATH=

# --- 7. SERVICE DÉCISION FINALE ---
TIMEOUT_DECISION_SEC=15
PLC_NODE_VERDICT=ns=3;s="DB_Vision"."Status_OK_NG"
PLC_NODE_ID_VERDICT=ns=3;s="DB_Vision"."ID_Verdict"
PLC_NODE_POSITION_NG=ns=3;s="DB_Vision"."Position_NG"

# --- 8. BASE DE DONNÉES POSTGRESQL ---
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=vision_system
DB_USER=admin_bdd
DB_PASSWORD=password123

# --- 9. Alertes Dashboard & MQTT Status ---
ALERT_NG_PCT=10.0
ALERT_WINDOW=20
DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=5000
SERVICE_TIMEOUT_S=30
TOPIC_STATUS_BASE=vision/status/

# --- 10. CONFIGURATION CHECK POSITION ---
TOPIC_ENTREE_CHECK_POSITION=vision/check/entree
TOPIC_SORTIE_CHECK_POSITION=vision/check/position
CHECK_POSITION_ETAGE=1
TIMEOUT_CHECK_SEC=30

# --- 11. COMMUNICATION FUSION (Asymétrique) ---
CHEMIN_RECETTES_FUSION=./recettes/fusion/
